* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  #bottom-nav {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    img {
      display: block;          
      width: 32px;
      height: 32px;
      object-fit: contain;
      cursor: pointer;
    }

    #windows{
        width: 42px;
        height: 42px;
    }

    #search-bar {
      position: relative;
      width: 240px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-55%);
        color: gray;
        font-size: 16px;
      }

      #search {
        width: 100%;
        height: 100%;           
        border-radius: 20px;
        border: none;
        outline: none;
        padding-left: 30px;
        font-size: 17px;
      }
    }

    #whatsapp{
        font-size: 40px;
        color: #25D366; 
    }

    #telegram{
        font-size: 40px;
        color: #0088cc;
    }

    #youtube{
        font-size: 40px;
        color: #FF0000;
    }
  }
}
